.example-card {
    max-width: 300px;
    align-items: center;
}

.example-card mat-card-content {
    margin: 10px;
    display: inline-block;
}

.example-card mat-card-content input {
    margin: 10px;
    padding: 10px 20px;
}

.example-card mat-card-content a {
    text-decoration: none;
    padding: 10px 20px;
    align-items: center;
}

.example-card mat-card-actions button {
    margin: 10px;
}

.container {
    margin-top: 50px;
    height: 500px;
    background-color: aliceblue;
    display: flexbox;
}

table {
    width: 100%;

}


.example-button-row {
    display: table-cell;
}

.control-left {
    position: fixed;
    z-index: 20;
    top: 1vh;
    left: 10vh;
}

.container-table {
    display: inline-block;
    height: 400px;
    overflow: auto;
}