<div>
    <div *ngIf="operationLevel > 0">
        <div class="example-container">
            <input type="email" #email="ngModel" placeholder="Enter your Email Id" [(ngModel)]="passwordDto.customerMailId" required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Invalid email address</div>
            </div>
            <button mat-stroked-button color="primary" (click)="sendOtp()" disabled={{control1}}>Send OTP</button>
        </div>
    </div>

    <div *ngIf="operationLevel > 1">
        <div class="example-container"><input type="text" placeholder="Enter your OTP"
                [(ngModel)]="passwordDto.customerOtp">
            <button mat-stroked-button color="primary" (click)="verifyOtp()" disabled={{control2}}>Verify OTP</button>
        </div>
    </div>

    <div *ngIf="operationLevel > 2">
        <div class="example-container"><input type="text" placeholder="Enter your new password"
                [(ngModel)]="customerDto.customerPassword">
            <button mat-stroked-button color="primary" (click)="changePassword()" disabled={{control3}}>Change
                Password</button>
        </div>
    </div>

</div>